.table-container {
    margin: 20px;
  }
  
  .ad-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ad-table th, .ad-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .ad-table th {
    background-color: #f2f2f2;
  }
  
  .table-image {
    width: 200px; /* Set the desired width */
    height: auto;
  }
  
  .table-video {
    width: 200px;
    height: auto;
  }
  