/* Products.css */

.products-container {
    margin: auto;
    padding: 20px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .product-card img {
     width: 200px;
     height: auto;
     
  }
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .products-container h2 {
    color: #333;
  }
  
  .products-container p {
    margin: 10px 0;
    color: #666;
  }
  