.single-shop-container {
    margin: 0 auto;
    padding: 20px;
}

.single-shop-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.single-shop-container > :nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.single-shop-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.single-shop-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.single-shop-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.single-shop-container h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.single-shop-container > div > div {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ebe8e8;
}

.single-shop-container > div > div h2 {
    color: #333;
}

.addbutton{
    cursor: pointer;
    padding: 10px;
    background-color: rgb(28, 28, 51);
    color: white;
    border-radius: 10px;
    margin-left: 5px;
}


.single-shop-container img.partial-image {
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.single-shop-container img.full-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#selectedadd{
    border: 1px solid rgb(68, 68, 68);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: fit-content;
}

.sold{
    width: 120px;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    background-color: red;
}